<%= link_to "Create your profile", new_user_profile_path(current_user) %>
<div class="jumbotron">
    <h1>HOME<h1>
    <h2>This is a test website</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, eius, recusandae doloremque similique quod in at dolore! Inventore, similique, eius, quia labore rem consectetur dolorem iure accusantium ratione ut reiciendis.</p>
    <hr />
        
    <p><small>Thanks for visiting</small></p>
       
</div>
        
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4 class="text-center">Sign up for free and get basic access to the community.</h4>
            <br/>
            <%= link_to "Sign up for free", new_user_registration_path(plan: @basic_Plan.id), class: 'btn btn-primary btn-lg btn-block'%>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="well text-center">
            <h2>Pro Membership </h2>
            <h4>Sign up for a Pro account and get full access to the cummunity.</h4>
            <%= link_to "Sign up for Pro", new_user_registration_path(plan: @pro_Plan.id), class: 'btn btn-success btn-lg btn-block'%>
           
        </div>
        
    </div>
</div>
