.job-title-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 2px solid black;
    color: white;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    background-color:  rgba(0, 69, 153, 0.7);
}